# App configuration
DEBUG=True
APP_ENV=development

# Database configuration
DB_NAME=eti_bot
DB_USER=postgres
DB_PASSWORD=vibi2003
DB_HOST=localhost
DB_PORT=5432

# REDIS
REDIS_PASSWORD=<redis_password>
REDIS_PORT=6379